@model IEnumerable<MVCReportViwer.StateArea>

@{
    ViewBag.Title = "State Area";
}

<h2>State Area - Report Viwer</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StateID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Statename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Area)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StateID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Statename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area)
        </td>
    </tr>
}
    
</table>
    <div style="padding:10px; border:1px solid black">
        <div><a href="@Url.Action("Report",new {id= "PDF"})"> Get Report PDF</a></div>
        <div><a href="@Url.Action("Report",new {id= "Excel"})"> Get Report Excel</a></div>
        <div><a href="@Url.Action("Report",new {id= "Word"})"> Get Report Word</a></div>
        <div><a href="@Url.Action("Report",new {id= "Image"})"> Get Report Image</a></div>
    </div>
